In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\vaddi\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\vaddi\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\vaddi\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\vaddi\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\vaddi\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: outcome in c:\users\vaddi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\vaddi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\vaddi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\vaddi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: attrs>=20.1.0 in c:\users\vaddi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\vaddi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\vaddi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\vaddi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\vaddi\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\vaddi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\vaddi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
!pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\users\vaddi\anaconda3\lib\site-packages (3.8.6)
Requirement already satisfied: tqdm in c:\users\vaddi\anaconda3\lib\site-packages (from webdriver-manager) (4.64.1)
Requirement already satisfied: packaging in c:\users\vaddi\anaconda3\lib\site-packages (from webdriver-manager) (21.3)
Requirement already satisfied: python-dotenv in c:\users\vaddi\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: requests in c:\users\vaddi\anaconda3\lib\site-packages (from webdriver-manager) (2.28.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\vaddi\anaconda3\lib\site-packages (from packaging->webdriver-manager) (3.0.9)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\vaddi\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vaddi\anaconda3\lib\site-packages (from requests->webdriver-manager) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vaddi\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\vaddi\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.11)
Requirement already satisfied: colorama in c:\users\vaddi\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.5)

Q1. Write a python program which searches all the product under a particular product from www.amazon.in. The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for guitars.

In [44]:
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By 
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time                                      #use to stop search engine for few seconds

driver = webdriver.Chrome()
driver.get("https://www.amazon.in/")  #search for amazon.com in automated Chrome browser.

In [16]:
product = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product_search = input("Enter the product to search : ")
product.send_keys(product_search)

Enter the product to search : guitars

In [17]:
button =driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
button.click()

Q2. In the above question, now scrape the following details of each product listed in first 3 pages of your search results and save it in a data frame and csv. In case if any product has less than 3 pages in search results then scrape all the products available under that product name. Details to be scraped are: "Brand
Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and
“Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [18]:
name,price,dilevery,url = [],[],[],[]
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-size-base-plus a-color-base a-text-normal']"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-price-whole']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-color-base a-text-bold']"):
    dilevery.append(i.text)
for i in driver.find_elements(By.XPATH,"//a[@class = 'a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']"):
    url.append(i.get_attribute('href'))

In [29]:
next_ = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[1]/div[1]/div[67]/div/div/span/a[3]')
next_.click()

In [30]:
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-size-base-plus a-color-base a-text-normal']"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-price-whole']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-color-base a-text-bold']"):
    dilevery.append(i.text)
for i in driver.find_elements(By.XPATH,"//a[@class = 'a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']"):
    url.append(i.get_attribute('href'))

In [31]:
nex = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[1]/div[1]/div[63]/div/div/span/a[4]')
nex.click()

In [32]:
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-size-base-plus a-color-base a-text-normal']"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-price-whole']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-color-base a-text-bold']"):
    dilevery.append(i.text)
for i in driver.find_elements(By.XPATH,"//a[@class = 'a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']"):
    url.append(i.get_attribute('href'))

In [33]:
len(name),len(price),len(dilevery),len(url)

(299, 164, 159, 168)

In [38]:
df = pd.DataFrame({'Brand Name':name[0:159],'Price':price[0:159],'Expected Dilevery':dilevery,'Product URL':url[0:159]})
df

,Brand Name,Price,Expected Dilevery,Product URL
0,Kadence A281 Professional Acoustic Rosewood,"6,999","Wednesday, 9 August",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
1,"(Natural, Beige)","7,399","Wednesday, 9 August",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
2,Kadence rosewood,"6,999","Wednesday, 9 August",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
3,"Frontier Series, Electric Acoustic Black","6,499","Wednesday, 9 August",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
4,"With EQ, Die Cast Keys, Set Of Strings, Strap,...","4,999","Thursday, 10 August",https://www.amazon.in/Juarez-Acoustic-Cutaway-...
...,...,...,...,...
154,DEVICE OF URBAN INFOTECH 41 inch Acoustic Guit...,"13,790","Friday, 11 August",https://www.amazon.in/Tanglewood-Roadster-TWR2...
155,Medellin Acoustic Guitar (with guitar learning...,"8,999","Wednesday, 16 August",https://www.amazon.in/Yamaha-C40MII-Acoustic-C...
156,Medellin Acoustic Guitar + (Free online learni...,"3,639","Friday, 11 August",https://www.amazon.in/Pluto-HW39C-201-Medium-C...
157,NutCor Portable Electronic Musical Mini Guitar...,"5,999","Wednesday, 9 August",https://www.amazon.in/Yamaha-Electric-Acoustic...
158,DEVICE OF URBAN INFOTECH Professional Clip On ...,"49,039","Thursday, 10 August",https://www.amazon.in/Cort-AF500C-Gig-Bag-Poli...

In [40]:
df.to_csv('guitar.csv')

In [42]:
guitar_df=pd.read_csv('guitar.csv')
guitar_df

,Unnamed: 0,Brand Name,Price,Expected Dilevery,Product URL
0,0,Kadence A281 Professional Acoustic Rosewood,"6,999","Wednesday, 9 August",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
1,1,"(Natural, Beige)","7,399","Wednesday, 9 August",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
2,2,Kadence rosewood,"6,999","Wednesday, 9 August",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
3,3,"Frontier Series, Electric Acoustic Black","6,499","Wednesday, 9 August",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
4,4,"With EQ, Die Cast Keys, Set Of Strings, Strap,...","4,999","Thursday, 10 August",https://www.amazon.in/Juarez-Acoustic-Cutaway-...
...,...,...,...,...,...
154,154,DEVICE OF URBAN INFOTECH 41 inch Acoustic Guit...,"13,790","Friday, 11 August",https://www.amazon.in/Tanglewood-Roadster-TWR2...
155,155,Medellin Acoustic Guitar (with guitar learning...,"8,999","Wednesday, 16 August",https://www.amazon.in/Yamaha-C40MII-Acoustic-C...
156,156,Medellin Acoustic Guitar + (Free online learni...,"3,639","Friday, 11 August",https://www.amazon.in/Pluto-HW39C-201-Medium-C...
157,157,NutCor Portable Electronic Musical Mini Guitar...,"5,999","Wednesday, 9 August",https://www.amazon.in/Yamaha-Electric-Acoustic...
158,158,DEVICE OF URBAN INFOTECH Professional Clip On ...,"49,039","Thursday, 10 August",https://www.amazon.in/Cort-AF500C-Gig-Bag-Poli...

In [45]:
driver.close()

Q3 . Write a python program to access the search bar and search button on images.google.com and scrape 10 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [46]:
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By 
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time                                      #use to stop search engine for few seconds

driver = webdriver.Chrome()
driver.get("https://images.google.com/")

In [47]:
product_search =  driver.find_element(By.CLASS_NAME,'gLFyf')
product_search.send_keys("fruits")

In [48]:
driver.maximize_window()

In [49]:
search_button = driver.find_element(By.XPATH, '//span[@class="z1asCe MZy1Rb"]')
search_button.click()

In [51]:
imag = []
for i in driver.find_elements(By.XPATH,'//img[@class = "rg_i Q4LuWd"]'):
    imag.append(i.get_attribute('src'))

In [52]:
search = driver.find_element(By.XPATH,'/html/body/c-wiz/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input')
search.clear()
delay = 2
search.send_keys('cars')
search.submit()

In [53]:
car = []
for i in driver.find_elements(By.XPATH,'//img[@class = "rg_i Q4LuWd"]'):
    car.append(i.get_attribute('src'))

In [54]:
search = driver.find_element(By.XPATH,'/html/body/c-wiz/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input')
search.clear()
delay = 2
search.send_keys('machine learning')
search.submit()

In [55]:
ml = []
for i in driver.find_elements(By.XPATH,'//img[@class = "rg_i Q4LuWd"]'):
    ml.append(i.get_attribute('src'))

In [56]:
search = driver.find_element(By.XPATH,'/html/body/c-wiz/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input')
search.clear()
delay = 2
search.send_keys('guitar')
search.submit()

In [60]:
guitar = []
for i in driver.find_elements(By.XPATH,'//img[@class = "rg_i Q4LuWd"]'):
    guitar.append(i.get_attribute('src'))

In [61]:
search = driver.find_element(By.XPATH,'/html/body/c-wiz/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input')
search.clear()
delay = 2
search.send_keys('cake')
search.submit()

In [62]:
cake = []
for i in driver.find_elements(By.XPATH,'//img[@class = "rg_i Q4LuWd"]'):
    cake.append(i.get_attribute('src'))

In [63]:
df = pd.DataFrame({'Fruits':imag[0:10],'Cars':car[0:10],'Machine Learning':ml[0:10],'Guitar':guitar[0:10],'Cake':cake[0:10]})

In [64]:
df.to_csv('image.csv')

In [65]:
di = pd.read_csv('image.csv')
di.drop('Unnamed: 0',axis =1)

,Fruits,Cars,Machine Learning,Guitar,Cake
0,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
1,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
2,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
3,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
4,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
5,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
6,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
7,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
8,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
9,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."

In [66]:
driver.close()

Q4. Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”,
“Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the details is missing then replace it by “- “. Save your results in a dataframe and CSV.

In [69]:
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By 
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time                                      #use to stop search engine for few seconds

driver = webdriver.Chrome()
driver.get('https://www.flipkart.com/')

In [71]:
search = driver.find_element(By.XPATH,'//input[@class="Pke_EE"]')
search.send_keys('oneplus nord')
search.submit()

In [72]:
brand,name,color = [],[],[]
for i in driver.find_elements(By.XPATH,'//div[@class = "_4rR01T"]'):
    brand.append(i.text.split(' ')[0])
    name.append(i.text)
    co = i.text.split('(')[-1]
    color.append(co.split(',')[0])

In [73]:
ram,rom,pc,display,battery = [],[],[],[],[]
for i in driver.find_elements(By.XPATH,'//ul[@class="_1xgFaf"]'):
    display.append(i.text.split('\n')[1])
    battery.append(i.text.split('\n')[-2])
    
    ra = i.text.split('\n')[0]
    ram.append(ra.split('|')[0])
    rom.append(ra.split('|')[1])
    
    cam = i.text.split('\n')[2]
    pc.append(cam.split('|')[0])

In [74]:
price,link = [],[]
for i in driver.find_elements(By.XPATH,'//div[@class="_30jeq3 _1_WHN1"]'):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//a[@class = '_1fQZEK']"):
    link.append(i.get_attribute('href'))

In [75]:
len(brand),len(name),len(color),len(ram),len(rom),len(pc),len(display),len(battery),len(price),len(link)

(24, 24, 24, 24, 24, 24, 24, 24, 24, 24)

In [76]:
df = pd.DataFrame({'Brand Name':brand,'Smartphone Name':name,'Color':color,'RAM':ram,'Storage(ROM)':rom,'Camera':pc,'Display':display})

In [77]:
df.to_csv('Phone.csv')

In [78]:
pd.read_csv('Phone.csv').head()

,Unnamed: 0,Brand Name,Smartphone Name,Color,RAM,Storage(ROM),Camera,Display
0,0,OnePlus,"OnePlus Nord CE 2 Lite 5G (Blue Tide, 128 GB)",Blue Tide,6 GB RAM,128 GB ROM,64MP Rear Camera,16.74 cm (6.59 inch) Display
1,1,OnePlus,"OnePlus Nord CE 2 Lite 5G (Black Dusk, 128 GB)",Black Dusk,6 GB RAM,128 GB ROM,64MP Rear Camera,16.74 cm (6.59 inch) Display
2,2,OnePlus,"OnePlus Nord 2T 5G (Gray Shadow, 128 GB)",Gray Shadow,8 GB RAM,128 GB ROM,50MP Rear Camera,17.02 cm (6.7 inch) Display
3,3,OnePlus,"OnePlus Nord 3 5G (Tempest Gray, 256 GB)",Tempest Gray,16 GB RAM,256 GB ROM,50MP Rear Camera,17.12 cm (6.74 inch) Display
4,4,OnePlus,"OnePlus Nord 3 5G (Misty Green, 256 GB)",Misty Green,16 GB RAM,256 GB ROM,50MP Rear Camera,17.12 cm (6.74 inch) Display

In [79]:
driver.close()

Q5. Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps.

In [1]:
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By 
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time                                      #use to stop search engine for few seconds

driver = webdriver.Chrome()
driver.get('https://www.google.com/maps')

In [3]:
search = driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div[3]/div[1]/div[1]/div/div[2]/form/input')
search.send_keys('Mumbai')

In [5]:
loc = driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div[3]/div[1]/div[1]/div/div[2]/div[1]/button')
loc.click()

In [6]:
time.sleep(5)
url = driver.current_url

In [7]:
ll = url.split('/')[-2]

In [8]:
lat = ll.split(',')[0].replace('@','')
lon = ll.split(',')[1]

In [9]:
print('Latitude = ',lat)
print('Longitude = ',lon)

Latitude =  19.0821775
Longitude =  72.7163722

In [10]:
driver.close()

Q6. Write a program to scrap all the available details of best gaming laptops from digit.in.

In [96]:
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By 
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time                                      #use to stop search engine for few seconds

driver = webdriver.Chrome()
driver.get("https://www.digit.in")

In [97]:
select_query = driver.find_element(By.XPATH,'/html/body/div[2]/div/ul/li[2]/span')
select_query.click()

In [98]:
best_laptops = driver.find_element(By.XPATH,'/html/body/div[2]/div/ul/li[2]/div[2]/div/div[1]/span[4]')
best_laptops.click()

In [99]:
best_gaming_laptops = driver.find_element(By.XPATH,'/html/body/div[2]/div/ul/li[2]/div[2]/div/div[5]/div/div[2]/a/div/img')
best_gaming_laptops.click()

In [100]:
laptops = []
specifications = []

In [101]:
laptop = driver.find_elements(By.CLASS_NAME,"datahreflink")
for i in laptop[0:7]:
    l=i.text
    laptops.append(l)

In [102]:
laptops

['HP OMEN 17 (2023)',
 'MSI Titan GT77 12UHS',
 'Lenovo Legion 5i Pro',
 'ASUS ROG Strix Scar 18 2023',
 'Acer Predator Helios Neo 16',
 'ASUS ROG Zephyrus G14',
 'MSI Cyborg 15']

In [103]:
spec_elements = driver.find_elements(By.CLASS_NAME, "Spcs-details")
for spec_element in spec_elements:
    specifications.append(spec_element.text)

In [104]:
# Create a dictionary to store laptop names and their specifications
laptop_data = {}
for i in range(len(laptops)):
    laptop_data[laptops[i]] = specifications[i]

In [108]:
# Print the laptop data
for laptop, specs in laptop_data.items():
    print("Laptop:", laptop)
    print("Specifications:", specs)
    print("=" * 50)

Laptop: HP OMEN 17 (2023)
Specifications: MORE SPECIFICATIONS
Processor : 13th Gen Intel Core i7-13700HX 16 core processor with 5.0 GHz clock speed
Display : 17.3″ (2560 x 1440) screen, 165 Hz refresh rate
OS : Windows 11 Home
Memory : 16 GB DDR5GB RAM & 1 TB SSD
Graphics Processor : 12 GB DDR6 NVIDIA GeForce RTX 4080 Graphics card
Body : 397.1 x 262 x 27 mm dimension & 2.78 kg weight
Price : ₹ 269,777
==================================================
Laptop: MSI Titan GT77 12UHS
Specifications: MORE SPECIFICATIONS
Processor : 12th Gen Intel Core i9-12900HX 16 core processor with 3.6 GHz clock speed
Display : 17.3″ (3840 x 2160) screen, 120 Hz refresh rate
OS : Windows 11 Home
Memory : 64 GB DDR5GB RAM & 2 TB SSD
Graphics Processor : 16 GB DDR6 NVIDIA GeForce RTX 3080Ti Graphics card
Body : 397 x 330 x 23 mm dimension & 3.3 kg weight
Price : ₹ 499,990
==================================================
Laptop: Lenovo Legion 5i Pro
Specifications: MORE SPECIFICATIONS
Processor : 12th Gen Intel Core i7-12700H 14 core processor with 4.7 GHz clock speed
Display : 16″ (2560 x 1600) screen
OS : Windows 11 Home
Memory : 32 GB DDR5GB RAM & 1 TB SSD
Graphics Processor : NVIDIA GeForce RTX 3070 Ti Graphics card
Body : 359.9 x 264.4 x 19.9 mm dimension & 3.6 kg weight
Price : ₹ 179,990
==================================================
Laptop: ASUS ROG Strix Scar 18 2023
Specifications: MORE SPECIFICATIONS
Processor : 13th Gen Intel Core i9-13980HX 24 core processor with 2.2 GHz clock speed
Display : 18″ (1920 x 1200) screen, 165 Hz refresh rate
OS : Windows 11 Home
Memory : 32 GB DDR5GB RAM & 1 TB SSD
Graphics Processor : 12 GB DDR6 NVIDIA GeForce RTX 4080 Graphics card
Body : 294 x 399 x 23 mm dimension & 3.1 kg weight
Price : ₹ 279,990
==================================================
Laptop: Acer Predator Helios Neo 16
Specifications: MORE SPECIFICATIONS
Processor : 13th Gen Intel Core i7-13700HX processor
Display : 16″ (2560 x 1600) screen, 165 Hz refresh rate
OS : Windows 11 Home
Memory : 16 GB DDR5GB RAM & 1 TB SSD
Graphics Processor : 8 GB DDR6 NVIDIA GeForce RTX 4060 Graphics card
Body : 360 x 279 x 28 mm dimension & 2.6 kg weight
Price : ₹ 149,990
==================================================
Laptop: ASUS ROG Zephyrus G14
Specifications: MORE SPECIFICATIONS
Processor : AMD Ryzen 9-6900HS 8 core processor with 4.9 GHz clock speed
Display : 14″ (1920 x 1200) screen, 144 Hz refresh rate
OS : Windows 11 Home
Memory : 16 GB DDR5GB RAM & 1 TB SSD
Graphics Processor : 8 GB DDR6 AMD Radeon RX 6700S Graphics card
Body : 312 x 227 x 19 mm dimension & 1.65 kg weight
Price : ₹ 156,990
==================================================
Laptop: MSI Cyborg 15
Specifications: MORE SPECIFICATIONS
Processor : 12th Gen Intel Core i7-12650H 10 core processor with 4.7 GHz clock speed
Display : 15.6″ (1920 x 1080) screen, 144 Hz refresh rate
OS : Windows 11 Home
Memory : 16 GB DDR5GB RAM & 1 TB SSD
Graphics Processor : 8 GB DDR6 NVIDIA GeForce RTX 4060 Graphics card
Body : & 1.98 kg weight
Price : ₹ 125,000
==================================================

In [107]:
# Close the WebDriver
driver.quit()

Q7. Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [74]:
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By 
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time                                      #use to stop search engine for few seconds
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import numpy as np

driver = webdriver.Chrome()
driver.get('https://www.forbes.com')

In [75]:
hamburger = driver.find_element(By.CLASS_NAME,"_69hVhdY4")
hamburger.click()
time.sleep(2)

In [76]:
billionaires = driver.find_element(By. XPATH, '//li[@class="TjJgrPSg cD45ib6e primary"]')
billionaires.click()
time.sleep(2)

In [77]:
worlds_billionaires = driver.find_element(By. XPATH, '//a[@href="https://www.forbes.com/billionaires/"]')
worlds_billionaires.click()
time.sleep(2)

In [78]:
billionaires_data = []

In [79]:
wait = WebDriverWait(driver, 10)
billionaire_table = wait.until(EC.presence_of_element_located((By.XPATH, '/html/body/div[1]/div[2]/div[3]/div[2]/div[2]/div[2]/div[1]/div[1]/div[1]/div[2]')))
rows = billionaire_table.find_elements(By.XPATH, '//div[@class="TableRow_cell__db-hv Table_cell__houv9"]')

In [80]:
# Iterate through each row and extract the data
for i in range(0, len(rows), 7):
    rank = rows[i].text.strip()
    name = rows[i + 1].text.strip()
    net_worth = rows[i + 2].text.strip()
    age = rows[i + 3].text.strip()
    citizenship = rows[i + 4].text.strip()
    source = rows[i + 5].text.strip()
    industry = rows[i + 6].text.strip()
    
    billionaires_data.append((rank, name, net_worth, age, citizenship, source, industry))

In [81]:
billionaires_data

[('1', 'Bernard Arnault & family', '$211 B', '74', 'France', 'LVMH', ''),
 ('2', 'Elon Musk', '$180 B', '51', 'United States', 'Tesla, SpaceX', ''),
 ('3', 'Jeff Bezos', '$114 B', '59', 'United States', 'Amazon', ''),
 ('4', 'Larry Ellison', '$107 B', '78', 'United States', 'Oracle', ''),
 ('5',
  'Warren Buffett',
  '$106 B',
  '92',
  'United States',
  'Berkshire Hathaway',
  ''),
 ('6', 'Bill Gates', '$104 B', '67', 'United States', 'Microsoft', ''),
 ('7',
  'Michael Bloomberg',
  '$94.5 B',
  '81',
  'United States',
  'Bloomberg LP',
  ''),
 ('8', 'Carlos Slim Helu & family', '$93 B', '83', 'Mexico', 'Telecom', ''),
 ('9', 'Mukesh Ambani', '$83.4 B', '65', 'India', 'Diversified', ''),
 ('10', 'Steve Ballmer', '$80.7 B', '67', 'United States', 'Microsoft', ''),
 ('11',
  'Francoise Bettencourt Meyers & family',
  '$80.5 B',
  '69',
  'France',
  "L'Oréal",
  ''),
 ('12', 'Larry Page', '$79.2 B', '50', 'United States', 'Google', ''),
 ('13', 'Amancio Ortega', '$77.3 B', '87', 'Spain', 'Zara', ''),
 ('14', 'Sergey Brin', '$76 B', '49', 'United States', 'Google', ''),
 ('15',
  'Zhong Shanshan',
  '$68 B',
  '68',
  'China',
  'Beverages, pharmaceuticals',
  ''),
 ('16', 'Mark Zuckerberg', '$64.4 B', '38', 'United States', 'Facebook', ''),
 ('17', 'Charles Koch', '$59 B', '87', 'United States', 'Koch Industries', ''),
 ('17',
  'Julia Koch & family',
  '$59 B',
  '60',
  'United States',
  'Koch Industries',
  ''),
 ('19', 'Jim Walton', '$58.8 B', '74', 'United States', 'Walmart', ''),
 ('20', 'Rob Walton', '$57.6 B', '78', 'United States', 'Walmart', ''),
 ('21', 'Alice Walton', '$56.7 B', '73', 'United States', 'Walmart', ''),
 ('22', 'David Thomson & family', '$54.4 B', '65', 'Canada', 'Media', ''),
 ('23',
  'Michael Dell',
  '$50.1 B',
  '58',
  'United States',
  'Dell Technologies',
  ''),
 ('24',
  'Gautam Adani',
  '$47.2 B',
  '60',
  'India',
  'Infrastructure, commodities',
  ''),
 ('25', 'Phil Knight & family', '$45.1 B', '85', 'United States', 'Nike', ''),
 ('26', 'Zhang Yiming', '$45 B', '39', 'China', 'TikTok', ''),
 ('27', 'Dieter Schwarz', '$42.9 B', '83', 'Germany', 'Retail', ''),
 ('28',
  'François Pinault & family',
  '$40.1 B',
  '86',
  'France',
  'Luxury goods',
  ''),
 ('29', 'Klaus-Michael Kuehne', '$39.1 B', '85', 'Germany', 'Shipping', ''),
 ('30',
  'Giovanni Ferrero',
  '$38.9 B',
  '58',
  'Italy',
  'Nutella, chocolates',
  ''),
 ('31',
  'Jacqueline Mars',
  '$38.3 B',
  '83',
  'United States',
  'Candy, pet food',
  ''),
 ('31', 'John Mars', '$38.3 B', '87', 'United States', 'Candy, pet food', ''),
 ('33', 'Li Ka-shing', '$38 B', '94', 'Hong Kong', 'Diversified', ''),
 ('34', 'Ma Huateng', '$35.3 B', '51', 'China', 'Internet media', ''),
 ('35',
  'Miriam Adelson & family',
  '$35 B',
  '77',
  'United States',
  'Casinos',
  ''),
 ('35', 'Ken Griffin', '$35 B', '54', 'United States', 'Hedge funds', ''),
 ('37', 'Mark Mateschitz', '$34.7 B', '30', 'Austria', 'Red Bull', ''),
 ('38', 'Robin Zeng', '$33.4 B', '54', 'Hong Kong', 'Batteries', ''),
 ('39',
  'Tadashi Yanai & family',
  '$32.6 B',
  '74',
  'Japan',
  'Fashion retail',
  ''),
 ('40',
  'Len Blavatnik',
  '$32.1 B',
  '65',
  'United States',
  'Music, chemicals',
  ''),
 ('41', 'Alain Wertheimer', '$31.6 B', '74', 'France', 'Chanel', ''),
 ('41', 'Gerard Wertheimer', '$31.6 B', '72', 'France', 'Chanel', ''),
 ('43', 'Gianluigi Aponte', '$31.2 B', '82', 'Switzerland', 'Shipping', ''),
 ('43',
  'Rafaela Aponte-Diamant',
  '$31.2 B',
  '78',
  'Switzerland',
  'Shipping',
  ''),
 ('45', 'Colin Zheng Huang', '$30.2 B', '43', 'China', 'E-commerce', ''),
 ('46',
  'Reinhold Wuerth & family',
  '$29.7 B',
  '87',
  'Germany',
  'Fasteners',
  ''),
 ('47', 'Lee Shau Kee', '$29.5 B', '95', 'Hong Kong', 'Real estate', ''),
 ('48',
  'Jeff Yass',
  '$28.5 B',
  '64',
  'United States',
  'Trading, investments',
  ''),
 ('49', 'Jim Simons', '$28.1 B', '84', 'United States', 'Hedge funds', ''),
 ('50',
  'Stephen Schwarzman',
  '$27.8 B',
  '76',
  'United States',
  'Investments',
  ''),
 ('51',
  'Susanne Klatten',
  '$27.4 B',
  '60',
  'Germany',
  'BMW, pharmaceuticals',
  ''),
 ('52', 'Gina Rinehart', '$27 B', '69', 'Australia', 'Mining', ''),
 ('53', 'William Lei Ding', '$26.7 B', '51', 'China', 'Online games', ''),
 ('54',
  'Germán Larrea Mota Velasco & family',
  '$26.6 B',
  '69',
  'Mexico',
  'Mining',
  ''),
 ('55', 'Shiv Nadar', '$25.6 B', '77', 'India', 'Software services', ''),
 ('56', 'Low Tuck Kwong', '$25.5 B', '74', 'Indonesia', 'Coal', ''),
 ('57',
  'Thomas Peterffy',
  '$25.3 B',
  '78',
  'United States',
  'Discount brokerage',
  ''),
 ('58',
  'Andrey Melnichenko & family',
  '$25.2 B',
  '51',
  'Russia',
  'Fertilizers, coal',
  ''),
 ('59', 'Stefan Quandt', '$24.6 B', '56', 'Germany', 'BMW', ''),
 ('60', 'MacKenzie Scott', '$24.4 B', '52', 'United States', 'Amazon', ''),
 ('61',
  'R. Budi Hartono',
  '$24.2 B',
  '82',
  'Indonesia',
  'Banking, tobacco',
  ''),
 ('62', 'Vladimir Potanin', '$23.7 B', '62', 'Russia', 'Metals', ''),
 ('63', 'Jack Ma', '$23.5 B', '58', 'China', 'E-commerce', ''),
 ('64',
  'He Xiangjian & family',
  '$23.4 B',
  '80',
  'China',
  'Home appliances',
  ''),
 ('65', 'Iris Fontbona & family', '$23.1 B', '80', 'Chile', 'Mining', ''),
 ('65',
  'Michael Hartono',
  '$23.1 B',
  '83',
  'Indonesia',
  'Banking, tobacco',
  ''),
 ('67', 'James Ratcliffe', '$22.9 B', '70', 'United Kingdom', 'Chemicals', ''),
 ('68', 'Cyrus Poonawalla', '$22.6 B', '81', 'India', 'Vaccines', ''),
 ('69', 'Masayoshi Son', '$22.4 B', '65', 'Japan', 'Internet, telecom', ''),
 ('70', 'Vladimir Lisin', '$22.1 B', '66', 'Russia', 'Steel, transport', ''),
 ('71', 'Emmanuel Besnier', '$22 B', '52', 'France', 'Cheese', ''),
 ('72', 'Abigail Johnson', '$21.6 B', '61', 'United States', 'Fidelity', ''),
 ('72',
  'Leonid Mikhelson & family',
  '$21.6 B',
  '67',
  'Russia',
  'Gas, chemicals',
  ''),
 ('74', 'Lukas Walton', '$21.2 B', '36', 'United States', 'Walmart', ''),
 ('74', 'Wang Wei', '$21.2 B', '52', 'China', 'Package delivery', ''),
 ('76',
  'Jensen Huang',
  '$21.1 B',
  '60',
  'United States',
  'Semiconductors',
  ''),
 ('77', 'Leonard Lauder', '$21 B', '90', 'United States', 'Estee Lauder', ''),
 ('77', 'Takemitsu Takizaki', '$21 B', '77', 'Japan', 'Sensors', ''),
 ('79',
  'Alexey Mordashov & family',
  '$20.9 B',
  '57',
  'Russia',
  'Steel, investments',
  ''),
 ('80', 'Vagit Alekperov', '$20.5 B', '72', 'Russia', 'Oil', ''),
 ('81',
  'Thomas Frist, Jr. & family',
  '$20.2 B',
  '84',
  'United States',
  'Hospitals',
  ''),
 ('82', 'Andrew Forrest', '$19.6 B', '61', 'Australia', 'Mining', ''),
 ('83', 'Ray Dalio', '$19.1 B', '73', 'United States', 'Hedge funds', ''),
 ('84', 'Li Eric', '$19 B', '59', 'China', 'Automobiles', ''),
 ('84', 'Wang Wenyin', '$19 B', '55', 'China', 'Mining, copper products', ''),
 ('86', 'Eyal Ofer', '$18.9 B', '72', 'Israel', 'Real estate, shipping', ''),
 ('86', 'Qin Yinglin', '$18.9 B', '57', 'China', 'Pig breeding', ''),
 ('88',
  'Wang Chuanfu',
  '$18.7 B',
  '57',
  'China',
  'Batteries, automobiles',
  ''),
 ('89',
  'Harold Hamm & family',
  '$18.5 B',
  '77',
  'United States',
  'Oil & gas',
  ''),
 ('89', 'David Tepper', '$18.5 B', '65', 'United States', 'Hedge funds', ''),
 ('89', 'Gennady Timchenko', '$18.5 B', '70', 'Russia', 'Oil, gas', ''),
 ('92', 'Daniel Gilbert', '$18 B', '61', 'United States', 'Quicken Loans', ''),
 ('93', 'Lakshmi Mittal', '$17.7 B', '72', 'India', 'Steel', ''),
 ('94', 'Steve Cohen', '$17.5 B', '66', 'United States', 'Hedge funds', ''),
 ('94', 'Carl Icahn', '$17.5 B', '87', 'United States', 'Investments', ''),
 ('94', 'Savitri Jindal & family', '$17.5 B', '73', 'India', 'Steel', ''),
 ('97', 'Donald Bren', '$17.4 B', '90', 'United States', 'Real estate', ''),
 ('97',
  'John Menard, Jr.',
  '$17.4 B',
  '83',
  'United States',
  'Home improvement stores',
  ''),
 ('99',
  'Rupert Murdoch & family',
  '$17.1 B',
  '92',
  'United States',
  'Newspapers, TV network',
  ''),
 ('100', 'Vicky Safra & family', '$16.7 B', '70', 'Brazil', 'Banking', ''),
 ('101',
  'Theo Albrecht, Jr. & family',
  '$16.5 B',
  '72',
  'Germany',
  "Aldi, Trader Joe's",
  ''),
 ('101',
  'Renata Kellnerova & family',
  '$16.5 B',
  '55',
  'Czech Republic',
  'Finance, telecommunications',
  ''),
 ('103', 'Li Xiting', '$16.3 B', '72', 'Singapore', 'medical devices', ''),
 ('104', 'Stefan Persson', '$16.2 B', '75', 'Sweden', 'H&M', ''),
 ('104', 'Eric Schmidt', '$16.2 B', '67', 'United States', 'Google', ''),
 ('106', 'Michael Platt', '$16 B', '55', 'United Kingdom', 'Hedge funds', ''),
 ('107', 'Pang Kang', '$15.9 B', '67', 'China', 'Soy sauce', ''),
 ('108',
  'Karl Albrecht Jr. & family',
  '$15.8 B',
  'N/A',
  'Germany',
  'Supermarkets',
  ''),
 ('108', 'Beate Heister', '$15.8 B', 'N/A', 'Germany', 'Supermarkets', ''),
 ('108', 'Jorge Paulo Lemann & family', '$15.8 B', '83', 'Brazil', 'Beer', ''),
 ('108', 'Peter Woo', '$15.8 B', '76', 'Hong Kong', 'Real estate', ''),
 ('112', 'Dilip Shanghvi', '$15.6 B', '67', 'India', 'Pharmaceuticals', ''),
 ('113',
  'Robert Pera',
  '$15.5 B',
  '45',
  'United States',
  'Wireless networking',
  ''),
 ('114',
  'Radhakishan Damani',
  '$15.3 B',
  '68',
  'India',
  'Retail, investments',
  ''),
 ('115', 'Huang Shilin', '$15.2 B', '56', 'China', 'Batteries', ''),
 ('116',
  'Dhanin Chearavanont',
  '$14.9 B',
  '83',
  'Thailand',
  'Diversified',
  ''),
 ('116',
  'David Green & family',
  '$14.9 B',
  '81',
  'United States',
  'Retail',
  ''),
 ('118',
  'Charoen Sirivadhanabhakdi',
  '$14.8 B',
  '78',
  'Thailand',
  'Alcohol, real estate',
  ''),
 ('119',
  'Charlene de Carvalho-Heineken & family',
  '$14.7 B',
  '68',
  'Netherlands',
  'Heineken',
  ''),
 ('120', 'Xu Hang', '$14.6 B', '56', 'Hong Kong', 'Medical devices', ''),
 ('121', 'Wei Jianjun & family', '$14.5 B', '59', 'China', 'Automobiles', ''),
 ('122',
  'Alisher Usmanov',
  '$14.4 B',
  '69',
  'Russia',
  'Steel, telecom, investments',
  ''),
 ('123', 'Goh Cheng Liang', '$14.3 B', '95', 'Singapore', 'Paints', ''),
 ('124', 'Kumar Birla', '$14.2 B', '55', 'India', 'Commodities', ''),
 ('124', 'Aliko Dangote', '$14.2 B', '65', 'Nigeria', 'Cement, sugar', ''),
 ('126', 'Kwong Siu-hing', '$14.1 B', '93', 'Hong Kong', 'Real estate', ''),
 ('127', 'Idan Ofer', '$14 B', '67', 'Israel', 'Shipping', ''),
 ('128', 'Chen Bang', '$13.9 B', '57', 'China', 'Hospitals', ''),
 ('128', 'Lui Che Woo', '$13.9 B', '94', 'Hong Kong', 'Casinos/hotels', ''),
 ('130', 'John Fredriksen', '$13.7 B', '78', 'Cyprus', 'Shipping', ''),
 ('130',
  'Diane Hendricks',
  '$13.7 B',
  '76',
  'United States',
  'Building supplies',
  ''),
 ('130', 'Jan Koum', '$13.7 B', '47', 'United States', 'WhatsApp', ''),
 ('133',
  'Jerry Jones',
  '$13.3 B',
  '80',
  'United States',
  'Dallas Cowboys',
  ''),
 ('133',
  'George Kaiser',
  '$13.3 B',
  '80',
  'United States',
  'Oil & gas, banking',
  ''),
 ('133', 'Joseph Lau', '$13.3 B', '71', 'Hong Kong', 'Real estate', ''),
 ('136',
  'Lu Xiangyang',
  '$13.2 B',
  '60',
  'China',
  'Automobiles, batteries',
  ''),
 ('137', 'Harry Triguboff', '$13.1 B', '90', 'Australia', 'Real estate', ''),
 ('138', 'Uday Kotak', '$12.9 B', '64', 'India', 'Banking', ''),
 ('138',
  'Stanley Kroenke',
  '$12.9 B',
  '75',
  'United States',
  'Sports, real estate',
  ''),
 ('140',
  'Mikhail Fridman',
  '$12.6 B',
  '58',
  'Russia',
  'Oil, banking, telecom',
  ''),
 ('141', 'Sarath Ratanavadi', '$12.3 B', '57', 'Thailand', 'Energy', ''),
 ('142', 'Dang Yanbao', '$12.2 B', '50', 'China', 'Coal', ''),
 ('142', 'Jiang Rensheng & family', '$12.2 B', '69', 'China', 'Vaccines', ''),
 ('144', 'Shahid Khan', '$12.1 B', '72', 'United States', 'Auto parts', ''),
 ('145',
  'Laurene Powell Jobs & family',
  '$12 B',
  '59',
  'United States',
  'Apple, Disney',
  ''),
 ('146',
  'Robert Kuok',
  '$11.8 B',
  '99',
  'Malaysia',
  'Palm oil, shipping, property',
  ''),
 ('147', 'Stephen Ross', '$11.6 B', '82', 'United States', 'Real estate', ''),
 ('148',
  'Pavel Durov',
  '$11.5 B',
  '38',
  'United Arab Emirates',
  'Messaging app',
  ''),
 ('148',
  'Andreas Struengmann & family',
  '$11.5 B',
  '73',
  'Germany',
  'Pharmaceuticals',
  ''),
 ('148',
  'Thomas Struengmann & family',
  '$11.5 B',
  '73',
  'Germany',
  'Pharmaceuticals',
  ''),
 ('151', 'Liu Hanyuan', '$11.4 B', '59', 'China', 'Agribusiness', ''),
 ('151',
  'Michael Rubin',
  '$11.4 B',
  '50',
  'United States',
  'Online retail',
  ''),
 ('153',
  'Israel Englander',
  '$11.3 B',
  '74',
  'United States',
  'Hedge funds',
  ''),
 ('153',
  'Viatcheslav Kantor',
  '$11.3 B',
  '69',
  'Russia',
  'Fertilizer, real estate',
  ''),
 ('153', 'Anthony Pratt', '$11.3 B', '62', 'Australia', 'Manufacturing', ''),
 ('153', 'Mikhail Prokhorov', '$11.3 B', '57', 'Russia', 'Investments', ''),
 ('157', 'Giorgio Armani', '$11.1 B', '88', 'Italy', 'Luxury goods', ''),
 ('157',
  'Johann Rupert & family',
  '$11.1 B',
  '72',
  'South Africa',
  'Luxury goods',
  ''),
 ('159',
  'Gong Hongjia & family',
  '$11 B',
  '58',
  'Hong Kong',
  'Video surveillance',
  ''),
 ('159', 'Zhang Zhidong', '$11 B', '51', 'China', 'Internet media', ''),
 ('161',
  'Philip Anschutz',
  '$10.9 B',
  '83',
  'United States',
  'Energy, sports, entertainment',
  ''),
 ('161',
  'Judy Love & family',
  '$10.9 B',
  '85',
  'United States',
  'Gas stations',
  ''),
 ('161',
  'Ricardo Salinas Pliego & family',
  '$10.9 B',
  '67',
  'Mexico',
  'Retail, media',
  ''),
 ('164', 'Donald Newhouse', '$10.7 B', '93', 'United States', 'Media', ''),
 ('165',
  'Robert Kraft',
  '$10.6 B',
  '81',
  'United States',
  'Manufacturing, New England Patriots',
  ''),
 ('165', 'Marcel Herrmann Telles', '$10.6 B', '73', 'Brazil', 'Beer', ''),
 ('167', 'Suleiman Kerimov & family', '$10.5 B', '57', 'Russia', 'Gold', ''),
 ('167', 'Chris Xu', '$10.5 B', '39', 'China', 'E-commerce', ''),
 ('167',
  'Changpeng Zhao',
  '$10.5 B',
  '45',
  'Canada',
  'Cryptocurrency exchange',
  ''),
 ('170',
  'Andrew Beal',
  '$10.3 B',
  '70',
  'United States',
  'Banks, real estate',
  ''),
 ('171', 'Mike Cannon-Brookes', '$10.2 B', '43', 'Australia', 'Software', ''),
 ('171', 'Carl Cook', '$10.2 B', '60', 'United States', 'Medical devices', ''),
 ('171',
  'David Duffield',
  '$10.2 B',
  '82',
  'United States',
  'Business software',
  ''),
 ('171', 'Jeffery Hildebrand', '$10.2 B', '64', 'United States', 'Oil', ''),
 ('171', 'Viktor Rashnikov', '$10.2 B', '74', 'Russia', 'Steel', ''),
 ('171', 'Eduardo Saverin', '$10.2 B', '41', 'Brazil', 'Facebook', ''),
 ('171', 'Georg Schaeffler', '$10.2 B', '58', 'Germany', 'Auto parts', ''),
 ('171', 'Christy Walton', '$10.2 B', '74', 'United States', 'Walmart', ''),
 ('179', 'Scott Farquhar', '$10.1 B', '43', 'Australia', 'Software', ''),
 ('179',
  'Quek Leng Chan',
  '$10.1 B',
  '81',
  'Malaysia',
  'Banking, property',
  ''),
 ('179', 'Wu Yajun', '$10.1 B', '59', 'China', 'Real estate', ''),
 ('182', 'Autry Stephens', '$10 B', '85', 'United States', 'Oil', ''),
 ('183', 'Liu Yongxing', '$9.9 B', '74', 'China', 'Diversified', ''),
 ('184',
  'Vinod Adani',
  '$9.8 B',
  '74',
  'Cyprus',
  'Infrastructure, commodities',
  ''),
 ('184', 'Nicolas Puech', '$9.8 B', '80', 'France', 'Hermes', ''),
 ('184', 'Jacques Saadé, Jr.', '$9.8 B', '51', 'France', 'Shipping', ''),
 ('184', 'Rodolphe Saadé', '$9.8 B', '53', 'France', 'Shipping', ''),
 ('184', 'Tanya Saadé Zeenny', '$9.8 B', '55', 'France', 'Shipping', ''),
 ('184',
  'Melker Schorling & family',
  '$9.8 B',
  '75',
  'Sweden',
  'Investments',
  ''),
 ('190',
  'Andrei Guriev & family',
  '$9.7 B',
  '63',
  'Russia',
  'Fertilizers',
  ''),
 ('190', 'Michael Kim', '$9.7 B', '59', 'United States', 'Private equity', ''),
 ('190', 'Lei Jun', '$9.7 B', '53', 'China', 'Smartphones', ''),
 ('190', 'Friedhelm Loh', '$9.7 B', '76', 'Germany', 'Manufacturing', ''),
 ('190', 'Sun Piaoyang', '$9.7 B', '64', 'China', 'Pharmaceuticals', ''),
 ('195',
  'Rick Cohen & family',
  '$9.6 B',
  '70',
  'United States',
  'Warehouse automation',
  ''),
 ('195', 'Jin Baofang', '$9.6 B', '70', 'China', 'Solar panels', ''),
 ('195', 'Luo Liguo & family', '$9.6 B', '67', 'China', 'Chemicals', ''),
 ('195',
  'Marijke Mars',
  '$9.6 B',
  '58',
  'United States',
  'Candy, pet food',
  ''),
 ('195',
  'Pamela Mars',
  '$9.6 B',
  '62',
  'United States',
  'Candy, pet food',
  ''),
 ('195',
  'Valerie Mars',
  '$9.6 B',
  '64',
  'United States',
  'Candy, pet food',
  '')]

In [82]:
data = {
    'Rank': [entry[0] for entry in billionaires_data],
    'Name': [entry[1] for entry in billionaires_data],
    'Net Worth': [entry[2] for entry in billionaires_data],
    'Age': [entry[3] for entry in billionaires_data],
    'Citizenship': [entry[4] for entry in billionaires_data],
    'Source': [entry[5] for entry in billionaires_data],
    'Industry': [entry[6] for entry in billionaires_data]
}

In [84]:
data =np.array(billionaires_data) 
columns = ["Rank", "Name", "Net Worth","Age","Citizenship","Source","Industry"]

In [86]:
df = pd.DataFrame(data, columns=columns)
df

,Rank,Name,Net Worth,Age,Citizenship,Source,Industry
0,1,Bernard Arnault & family,$211 B,74,France,LVMH,
1,2,Elon Musk,$180 B,51,United States,"Tesla, SpaceX",
2,3,Jeff Bezos,$114 B,59,United States,Amazon,
3,4,Larry Ellison,$107 B,78,United States,Oracle,
4,5,Warren Buffett,$106 B,92,United States,Berkshire Hathaway,
...,...,...,...,...,...,...,...
195,195,Jin Baofang,$9.6 B,70,China,Solar panels,
196,195,Luo Liguo & family,$9.6 B,67,China,Chemicals,
197,195,Marijke Mars,$9.6 B,58,United States,"Candy, pet food",
198,195,Pamela Mars,$9.6 B,62,United States,"Candy, pet food",
199,195,Valerie Mars,$9.6 B,64,United States,"Candy, pet food",

In [87]:
# Close the WebDriver
driver.quit()

Q8. Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted from any YouTube Video.

In [63]:
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By 
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time                                      #use to stop search engine for few seconds

driver = webdriver.Chrome()
driver.get('https://www.youtube.com')

In [64]:
search = driver.find_element(By.XPATH,'/html/body/ytd-app/div[1]/div/ytd-masthead/div[4]/div[2]/ytd-searchbox/form/div[1]/div[1]/input')
search.send_keys('Chaand Baaliyan - Aditya A. (Official Video)')
search.submit()
delay = 5

In [65]:
song = driver.find_element(By.XPATH,'/html/body/ytd-app/div[1]/ytd-page-manager/ytd-search/div[1]/ytd-two-column-search-results-renderer/div/ytd-section-list-renderer/div[2]/ytd-item-section-renderer/div[3]/ytd-video-renderer[1]/div[1]/div/div[1]/div/h3/a/yt-formatted-string')
song.click()

In [76]:
for _ in range(1000):
    driver.execute_script("window.scrollBy(0,1000)")

In [78]:
op = []
for i in driver.find_elements(By.XPATH,'//div[@class="style-scope ytd-expander"]'):
    op.append(i.text)

In [79]:
time = []
for i in driver.find_elements(By.XPATH,'//a[@class="yt-simple-endpoint style-scope yt-formatted-string"]'):
    time.append(i.text)

In [80]:
ti = time[79:579]

In [81]:
co = op[2:502]

In [82]:
len(ti),len(co)

(500, 500)

In [83]:
comment = pd.DataFrame({'Comments':co,'Time':ti})

In [84]:
comment.to_csv('Youtube.csv')

In [86]:
df = pd.read_csv('Youtube.csv')
df.head()

   Unnamed: 0                                           Comments          Time
0           0  My son always recognize your voice ...he is bl...   1 month ago
1           1  Is it just me who wishes this song to be a lil...    1 year ago
2           2  yes, you don't have to be in a relationship ye...  2 months ago
3           3  This song takes me to the sunny December after...      #adityaa
4           4  Beautiful, melodious song. Keeps playing in yo...  7 months ago

Q9. Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in “London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms from price, facilities and property description.

In [31]:
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By 
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time                                          #use to stop search engine for few seconds
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support import expected_conditions as EC

from selenium.common.exceptions import ElementClickInterceptedException

driver = webdriver.Chrome()
driver.get("https://www.hostelworld.com/")

In [32]:
destination =driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[2]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/input")
destination.send_keys("London")

In [34]:
select_location = driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[2]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/ul/li[2]/button")
select_location.click()

In [35]:
search =driver.find_element(By.XPATH,'//button[@class="btn-content large-button icon-only"]')
search.click()

In [38]:
hotels = []
hotel = driver.find_elements(By.XPATH, '//div[@class="property-name"]')
for i in hotel:
    hotels.append(i.text )

In [39]:
hotels

["St Christopher's Village",
 "Wombat's City Hostel London",
 'Onefam Notting Hill by Hostel One',
 "St Christopher's Village",
 'Generator London',
 'Urbany Hostel London',
 'Astor Hyde Park',
 'Safestay London Elephant & Castle',
 'Pickwick Hall',
 'Phoenix Hostel',
 'Safestay London Kensington Holland Park',
 'Smart Russell Square Hostel',
 'Astor Museum Inn',
 'No.8 Willesden Hostel London',
 'London Backpackers',
 'No.8 Seven Sisters',
 'Queen Elizabeth Chelsea',
 'Barmy Badger Backpackers',
 "St Christopher's Inn - London Bridge",
 'Saint James Backpackers',
 'Astor Victoria',
 "St Christopher's Hammersmith",
 "St Christopher's Greenwich",
 "St Christopher's Camden",
 'PubLove @ The Steam Engine, Waterloo',
 'Bell House Hostel',
 'Astor Kensington',
 'Smart Hyde Park View Hostel',
 "St Christopher's Shepherds Bush",
 'Kabannas London St Pancras',
 'Selina Camden']

In [40]:
len(hotels)

31

In [41]:
distance = []
dis = driver.find_elements(By.CLASS_NAME,"distance-description")
for i in dis:
    distance.append(i.text)

In [42]:
distance

['- 3.6km from city centre',
 '- 5.5km from city centre',
 '- 1.8km from city centre',
 '- 3km from city centre',
 '- 5.4km from city centre',
 '- 4.3km from city centre',
 '- 1.7km from city centre',
 '- 2.3km from city centre',
 '- 4.2km from city centre',
 '- 5.8km from city centre',
 '- 2.6km from city centre',
 '- 2.2km from city centre',
 '- 10km from city centre',
 '- 11.9km from city centre',
 '- 9km from city centre',
 '- 5.7km from city centre',
 '- 5.5km from city centre',
 '- 1.8km from city centre',
 '- 5.5km from city centre',
 '- 1.8km from city centre',
 '- 7.5km from city centre',
 '- 7.6km from city centre',
 '- 4.3km from city centre',
 '- 0.5km from city centre',
 '- 4.2km from city centre',
 '- 4.9km from city centre',
 '- 4.8km from city centre',
 '- 7km from city centre',
 '- 3.3km from city centre',
 '- 5.5km from city centre']

In [43]:
ratings = [] #no rating for a place, have to fill it with hyphen
rating = driver.find_elements(By.CLASS_NAME,"number")
for i in rating:
    ratings.append(i.text if i.text != "" else "-")

In [44]:
ratings

['8.1',
 '9.0',
 '9.7',
 '8.1',
 '7.6',
 '9.5',
 '8.3',
 '7.2',
 '8.7',
 '7.9',
 '7.0',
 '7.4',
 '8.2',
 '6.5',
 '7.6',
 '5.2',
 '7.3',
 '9.0',
 '7.8',
 '7.7',
 '7.1',
 '7.4',
 '7.8',
 '7.1',
 '8.0',
 '7.6',
 '7.9',
 '7.8',
 '7.1',
 '9.1',
 '8.7']

In [49]:
reviews = []
review = driver.find_elements(By.CLASS_NAME,"review")
for i in review:
    reviews.append(i.text if i.text != "" else "-")

In [50]:
reviews

['(15139)',
 '(2175)',
 '(12298)',
 '(7634)',
 '(850)',
 '(12135)',
 '(5040)',
 '(2692)',
 '(4316)',
 '(1606)',
 '(10062)',
 '(9298)',
 '(5056)',
 '(4495)',
 '(4040)',
 '(3535)',
 '(1955)',
 '(3528)',
 '(1909)',
 '(14999)',
 '(4273)',
 '(3373)',
 '(4067)',
 '(410)',
 '(80)',
 '(6520)',
 '(4709)',
 '(785)',
 '(2872)',
 '(54)']

In [51]:
len(reviews)

30

In [52]:
private_from_price = []
price = driver.find_elements(By.CLASS_NAME,"accommodation-price")
for i in price:
    private_from_price.append(i.text if i.text != "" else "-")

In [53]:
private_from_price

['₹2,907',
 '₹22,516\n₹18,013',
 '₹5,949\n₹4,759',
 '₹17,764',
 '₹5,043',
 'No Privates Available',
 '₹3,230\n₹2,907',
 '₹11,199',
 '₹3,569',
 '₹15,917',
 '₹4,166',
 'No Privates Available',
 '₹2,815',
 'No Privates Available',
 '₹2,410',
 '₹13,724',
 'No Dorms Available',
 'No Privates Available',
 '₹3,193\n₹3,033',
 'No Privates Available',
 '₹2,117',
 'No Privates Available',
 '₹2,762',
 'No Privates Available',
 '₹2,710',
 'No Privates Available',
 '₹1,754',
 'No Privates Available',
 '₹2,907',
 'No Privates Available',
 '₹1,860',
 'No Privates Available',
 '₹3,242',
 '₹12,897',
 '₹4,152',
 'No Privates Available',
 '₹3,074\n₹2,767',
 '₹12,656',
 '₹4,258',
 'No Privates Available',
 '₹2,358',
 'No Privates Available',
 '₹2,488\n₹2,239',
 'No Privates Available',
 '₹2,332\n₹2,099',
 'No Privates Available',
 '₹2,645\n₹2,380',
 'No Privates Available',
 '₹3,871',
 'No Privates Available',
 '₹2,914',
 'No Privates Available',
 '₹3,800',
 'No Privates Available',
 '₹3,015',
 'No Privates Available',
 '₹2,301\n₹2,071',
 'No Privates Available',
 '₹4,152',
 '₹16,426',
 'No Dorms Available']

In [54]:
dorms = []
dorm = driver.find_elements(By.CLASS_NAME,"current")
for i in dorm:
    dorms.append(i.text if i.text != "" else "-")

In [55]:
dorms

['₹18,013',
 '₹4,759',
 '₹17,764',
 '₹5,043',
 '₹2,907',
 '₹11,199',
 '₹3,569',
 '₹15,917',
 '₹4,166',
 '₹2,815',
 '₹2,410',
 '₹13,724',
 '₹3,033',
 '₹2,117',
 '₹2,762',
 '₹2,710',
 '₹1,754',
 '₹2,907',
 '₹1,860',
 '₹3,242',
 '₹12,897',
 '₹4,152',
 '₹2,767',
 '₹12,656',
 '₹4,258',
 '₹2,358',
 '₹2,239',
 '₹2,099',
 '₹2,380',
 '₹3,871',
 '₹2,914',
 '₹3,800',
 '₹3,015',
 '₹2,071',
 '₹4,152',
 '₹16,426']

In [56]:
property_description = []
description = driver.find_elements(By.XPATH, '//span[@class="distance-property-type"]')
for i in description:
    property_description.append(i.text if i.text != "" else "-")

In [57]:
property_description

['Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel',
 'Hostel']

In [59]:
wait = WebDriverWait(driver, 50)
button = driver.find_element(By.XPATH,'//button[@class="pill-content page-nav nav-right icon-only"]')
button.click()

In [60]:
while True:
    try:
        hotel = driver.find_elements(By.XPATH, '//div[@class="property-name"]')
        for i in hotel:
            hotels.append(i.text if i.text != "" else "-")

        dis = driver.find_elements(By.CLASS_NAME, "distance-description")
        for i in dis:
            distance.append(i.text if i.text != "" else "-")

        rating = driver.find_elements(By.CLASS_NAME, "number")
        for i in rating:
            ratings.append(i.text if i.text != "" else "-")

        review = driver.find_elements(By.CLASS_NAME, "review")
        for i in review:
            reviews.append(i.text if i.text != "" else "-")

        price = driver.find_elements(By.CLASS_NAME, "accommodation-price")
        for i in price:
            private_from_price.append(i.text if i.text != "" else "-")

        dorm = driver.find_elements(By.CLASS_NAME, "current")
        for i in dorm:
            dorms.append(i.text if i.text != "" else "-")

        description = driver.find_elements(By.XPATH, '//span[@class="distance-property-type"]')
        for i in description:
            property_description.append(i.text if i.text != "" else "-")

        wait = WebDriverWait(driver, 10)
        button = wait.until(EC.element_to_be_clickable((By.XPATH, '//button[@class="pill-content page-nav nav-right icon-only"]')))
        button.click()
    except NoSuchElementException:
        break
    except ElementClickInterceptedException:
        break

In [62]:
len(hotel), len(distance), len(ratings), len(reviews), len(price), len(dorm), len(property_description)

(30, 60, 56, 55, 60, 37, 60)

In [67]:
# Create a DataFrame from the collected data
data = {
    'Hostel Name': hotels[0:30],
    'Distance from City Centre': distance[0:30],
    'Ratings': ratings[0:30],
    'Total Reviews': reviews[0:30],
    'Privates from Price': private_from_price[0:30],
    'Dorms from Price': dorms[0:30],
    'Property Description': property_description[0:30]
}

df = pd.DataFrame(data)
df

,Hostel Name,Distance from City Centre,Ratings,Total Reviews,Privates from Price,Dorms from Price,Property Description
0,St Christopher's Village,- 3.6km from city centre,8.1,(15139),"₹2,907","₹18,013",Hostel
1,Wombat's City Hostel London,- 5.5km from city centre,9.0,(2175),"₹22,516\n₹18,013","₹4,759",Hostel
2,Onefam Notting Hill by Hostel One,- 1.8km from city centre,9.7,(12298),"₹5,949\n₹4,759","₹17,764",Hostel
3,St Christopher's Village,- 3km from city centre,8.1,(7634),"₹17,764","₹5,043",Hostel
4,Generator London,- 5.4km from city centre,7.6,(850),"₹5,043","₹2,907",Hostel
5,Urbany Hostel London,- 4.3km from city centre,9.5,(12135),No Privates Available,"₹11,199",Hostel
6,Astor Hyde Park,- 1.7km from city centre,8.3,(5040),"₹3,230\n₹2,907","₹3,569",Hostel
7,Safestay London Elephant & Castle,- 2.3km from city centre,7.2,(2692),"₹11,199","₹15,917",Hostel
8,Pickwick Hall,- 4.2km from city centre,8.7,(4316),"₹3,569","₹4,166",Hostel
9,Phoenix Hostel,- 5.8km from city centre,7.9,(1606),"₹15,917","₹2,815",Hostel
10,Safestay London Kensington Holland Park,- 2.6km from city centre,7.0,(10062),"₹4,166","₹2,410",Hostel
11,Smart Russell Square Hostel,- 2.2km from city centre,7.4,(9298),No Privates Available,"₹13,724",Hostel
12,Astor Museum Inn,- 10km from city centre,8.2,(5056),"₹2,815","₹3,033",Hostel
13,No.8 Willesden Hostel London,- 11.9km from city centre,6.5,(4495),No Privates Available,"₹2,117",Hostel
14,London Backpackers,- 9km from city centre,7.6,(4040),"₹2,410","₹2,762",Hostel
15,No.8 Seven Sisters,- 5.7km from city centre,5.2,(3535),"₹13,724","₹2,710",Hostel
16,Queen Elizabeth Chelsea,- 5.5km from city centre,7.3,(1955),No Dorms Available,"₹1,754",Hostel
17,Barmy Badger Backpackers,- 1.8km from city centre,9.0,(3528),No Privates Available,"₹2,907",Hostel
18,St Christopher's Inn - London Bridge,- 5.5km from city centre,7.8,(1909),"₹3,193\n₹3,033","₹1,860",Hostel
19,Saint James Backpackers,- 1.8km from city centre,7.7,(14999),No Privates Available,"₹3,242",Hostel
20,Astor Victoria,- 7.5km from city centre,7.1,(4273),"₹2,117","₹12,897",Hostel
21,St Christopher's Hammersmith,- 7.6km from city centre,7.4,(3373),No Privates Available,"₹4,152",Hostel
22,St Christopher's Greenwich,- 4.3km from city centre,7.8,(4067),"₹2,762","₹2,767",Hostel
23,St Christopher's Camden,- 0.5km from city centre,7.1,(410),No Privates Available,"₹12,656",Hostel
24,"PubLove @ The Steam Engine, Waterloo",- 4.2km from city centre,8.0,(80),"₹2,710","₹4,258",Hostel
25,Bell House Hostel,- 4.9km from city centre,7.6,(6520),No Privates Available,"₹2,358",Hostel
26,Astor Kensington,- 4.8km from city centre,7.9,(4709),"₹1,754","₹2,239",Hostel
27,Smart Hyde Park View Hostel,- 7km from city centre,7.8,(785),No Privates Available,"₹2,099",Hostel
28,St Christopher's Shepherds Bush,- 3.3km from city centre,7.1,(2872),"₹2,907","₹2,380",Hostel
29,Kabannas London St Pancras,- 5.5km from city centre,9.1,(54),No Privates Available,"₹3,871",Hostel

In [ ]:
# Close the WebDriver
driver.quit()